.text {
    color: white;
    font-size: 22px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 4px;
}

.text1{
    color: white;
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 22px;
    letter-spacing: 0.25px;
    font-weight: normal;
}

.display{
    max-width: 130vh;
    margin-left: auto;
    margin-right: auto;
}