.color {
    background: linear-gradient(45deg, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.colorIcon {
    color: #6b6b6b;
}

.colorDark {
    background: black;
}

.color-1 {
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(0, 212, 255, 1) 100%);
    min-height: 70vh;
}

.color-2 {
    padding-top: 10px;
    background-color: #eeaeca;
    opacity: 0.6;
    min-height: 20vh;
    width: 100vh
}

.color-3 {
    background: linear-gradient(rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    min-height: 20vh;
}